<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[21rem] bg-base-200 text-base-content">
    <div class="w-fit">
      <a href="/">
        <div class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6" style="background-color: #f0f0f0;">
          <div>
            <img class="mask mask-circle" src="/profile.jpg" alt="profile image" loading="lazy" />
          </div>
        </div>        
      </a>
    </div>
    <ul class="grow shrink">
      <!-- Sidebar content here -->
      <li><a id="home" href="/">Home</a></li>
      <li><a id="store" href="/store">Store</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <div class="flex-grow"></div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const homeLink = document.getElementById("home");
  const projectsLink = document.getElementById("projects");
  const servicesLink = document.getElementById("services");
  const storeLink = document.getElementById("store");
  const blogLink = document.getElementById("blog");
  const cvLink = document.getElementById("cv");

  var isHome = true;

  const url = window.location.href;

  const pages = [projectsLink, servicesLink, storeLink, blogLink, cvLink];

  pages.forEach((elem) => {
    if (url.includes(elem.id)) {
      isHome = false;
      elem.classList.add("bg-base-300");
    }
  });
  if (isHome) {
    homeLink.classList.add("bg-base-300");
  }
});

</script>
